@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #161616;
  @apply text-white;
}

.tCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.trTable:not(:first-child):nth-child(odd) {
  background: #282828;
}

@keyframes rotate360 {
  to {
    transform: rotate(180deg);
  }
}

.rotate:hover .w-8 {
  animation: rotate360 0.3s ease;
}
